checkpoints/ filter=lfs diff=lfs merge=lfs -text
./checkpoints/vicreg.ckpt filter=lfs diff=lfs merge=lfs -text
./checkpoints/mmaq.ckpt filter=lfs diff=lfs merge=lfs -text
./checkpoints/vicreg.ckpt filter=lfs diff=lfs merge=lfs -text
./checkpoints/mmaq_best.ckpt filter=lfs diff=lfs merge=lfs -text
