einops
lightly
h5netcdf
lightning
lightning-flash
matplotlib
netCDF4
numpy
opencv-python
pandas
Pillow
rasterio
rioxarray
scikit-image
scikit-learn
scipy
shapely
torchmetrics
tqdm
wandb
xarray
xarray[complete]